spring:
  application:
    name: Back Archetype
    version: 1.0.0-SNAPSHOT
  webflux:
    base-path: /base-path/del-proyecto/api

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
      base-path: /actuator
  endpoint:
    health:
      show-details: always

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui/index.html
  api-docs:
    path: /v3/api-docs

info:
  project:
    name: ${spring.application.name}
    version: ${spring.application.version}
