spring:
  rest-client:
    currency-exchange-api-v1:
      url: "http://127.0.0.1:18080/api/v1"

  r2dbc:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  flyway:
    url: ${FLYWAY_URL}
    user: ${FLYWAY_USER}
    password: ${FLYWAY_PASSWORD}
    locations: classpath:db/migration
    enabled: true

eureka:
  client:
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
      #      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
