spring:
  rest-client:
    currency-exchange-api-v1:
      url: "http://127.0.0.1:18080/api/v1"

  r2dbc:
    url: r2dbc:postgresql://127.0.0.1:5432/financial_products_quotation
    username: back-archetype
    password: back-archetype

  flyway:
    url: jdbc:postgresql://127.0.0.1:5432/financial_products_quotation
    user: back-archetype
    password: back-archetype
    locations: classpath:db/migration
    enabled: true

eureka:
  client:
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
      #      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
